<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form class="example-form" [formGroup]="superheroForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <mat-form-field>
      <input matInput placeholder="Enter alias..." type="text" formControlName="alias">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="First name" type="text" formControlName="fname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last name" type="text" formControlName="lname">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Power Level (i.e., 750)" type="number" formControlName="powerLevel">
    </mat-form-field>
    <div formArrayName="suits">
      <button class="add-suit-button" mat-stroked-button color="primary" (click)="addSuit()" type="button">Add Suit</button>

      <mat-card class="suit-card" *ngFor="let suit of superheroForm.get('suits').controls; let i = index" [formGroupName]="i">
        <mat-card-header>
          <mat-card-title>Suit #{{i + 1}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <textarea matInput cdkTextareaAutosize placeholder="description" type="text" formControlName="description"></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="gloves">Gloves</mat-checkbox>
          <mat-checkbox formControlName="boots">Boots</mat-checkbox>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="warn" (click)="removeSuit(i)">Remove Suit</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <button mat-raised-button color="accent" [disabled]="!superheroForm.valid" type="submit">Submit</button>
  </form>
</div>

